<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57659367241-ctvopspaqp7dotb0lpgudott7nv1rme8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57659367241-ctvopspaqp7dotb0lpgudott7nv1rme8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>57659367241-d406v1b6npvokfhi913luu0oe1eao8t6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBA_OmdS1CegbfZXzLfyhG_52ubgP3k70k</string>
	<key>GCM_SENDER_ID</key>
	<string>57659367241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>circle.circleapp.CashbackAppiOS</string>
	<key>PROJECT_ID</key>
	<string>cashback-app-94f79</string>
	<key>STORAGE_BUCKET</key>
	<string>cashback-app-94f79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57659367241:ios:dd7c63a911b9be14774498</string>
	<key>DATABASE_URL</key>
	<string>https://cashback-app-94f79.firebaseio.com</string>
</dict>
</plist>